body {
  background-color: #083b4c;
}

.title {
  font-size: 5rem;
  font-weight: bolder;
  color: white;
}

.box {
  width: calc(100% / 7);
}

.number-View {
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1389b2;
  padding: 2rem;
}

.number-View:hover {
  transform: scale(1.2);
  cursor: pointer;
}
